

body {
  font-family: 'Space Mono', monospace;
  line-height: 1.6;

  background: rgb(93, 210, 239); 
  color: rgb(128, 0, 0);
  padding: 0;

  
}
b{
  text-transform:uppercase;
}
.page, .page1 {
  width: 55vw;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
  
  padding: 2em;
  border-radius: 10px;
  background-color: rgb(252, 252, 193);
  font-family: 'Space Mono', monospace;

}

@media (max-width: 600px) {
    .page {
        width: 80%;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 2%;
        margin-right: 2%;

        
        padding: 2em;
        border-radius: 10px;
        background-color: rgb(252, 252, 193);
        font-family: 'Space Mono', monospace;
        font-size: small;
      }
  }
